*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}



section{
    padding: 0;
    margin: 0;
    height: max-content;
    padding-top: 90px;

}

 /* Header custom css */

.navbar-brand img{
    width: 8rem;
    height: 4rem;
}

.navbar{
    width: 100%;
    padding-left: 2rem;
    border-bottom: 1px dotted;
    z-index: 100;
}


.nav-item{
    text-transform: uppercase;
    font-weight: 600;
    font-size: x-large;
}

.button button{
    border: 1px solid;
    margin-left: 30rem;
    background: rgb(220, 233, 224);
    border-radius: 50px;
    padding:7px 16px;
    font-weight: 600;
}

/* H0me section customs css */
.home-content{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url(images/home-img.png);
    background-position: center;
    background-size: cover;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.home-text{
    width: 80%;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
}

.home-text p{
    color: rgb(252, 246, 246);
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: 800;
    text-shadow: 2px 2px rgb(26, 16, 16);

}


.home-btn{
    padding: 1rem;
    font-weight: 800;
    border: none;
    border-radius: 20px;
}

/* Sevices customs css */

.services-home{
    height: auto;
    width: 100%;
    padding: 3rem 0;
}

.sevice-tittle{
    padding: 2rem 0;

    h1{
        color: green;
        text-transform: uppercase;
        text-align: center;
        font-weight: 600;
    }
}

.card img{
    height: 300px;
}

.team-card{
    border: none !important;
    outline: none !important;
    background: none;
}

.team-con{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 1rem;
}
.card-body{
    h2{
        font-weight: 600;
    }

    p{
        font-weight: 800;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
}

.team-img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
}
.socials i{
    margin-left: 1rem;
    font-size: 2rem;
}

.contact-home{
    height: 100vh;
    width: 100%;
    padding: 2rem 0;
}

.Choose-us{
    width: 100%;
    height: auto;
    display: flex;
    background: rgb(220, 233, 224);
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
}

.us-card{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 4rem;
}

.us-card .card{
    border: none;
}

.us-text {
    h1{
        text-align: center;
    }

   
}

.card-body{
    display: flex;
    flex-direction: column;
    align-items: center;

    h4{
        color: green;
    }
}

.contact-us{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
}

.contact-box{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(220, 233, 224);

}



.contact-msg{
    padding: 3rem;
}

.contact-tags{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;


    h2{
        text-transform: uppercase;
        font-weight: 600;
    }
    p{
        font-weight: 500;
        font-size: 16px;
        font-family: Arial, Helvetica, sans-serif;
    }
}

.socials-box{
   background-color: white;
   border-radius: 20px;
}

.icons{
    display: flex;
    width: auto;
    height: 28rem;
    padding: 3rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    i{
        margin-bottom: 5rem;
    }
}

.icons i:hover{
    scale: 1.5;
}

/* Pop-up forms custom css */

.sec-4{
    transition: top oms ease-in-out 200ms,opacity 200ms ease-in-out0ms,transform 20ms ease-in-out0ms;
    opacity: 0;
    scale: 0;
    display: none;
}

.sec-4.active{
    transition: top oms ease-in-out 200ms,opacity 200ms ease-in-out0ms,transform 20ms ease-in-out0ms;
    opacity: 1;
    scale: 1;
    display: block;
}

.forms-home{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 2rem;
}

.forms-img{
    width: 30rem;
    background-image: url(images/company-banner.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 2rem;
    height: 40rem;
}
.forms-details{
    height: 40rem;
    width: 30rem;
    padding: 1rem;
    background-color: beige;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.forms-content{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.forms-logo{
    width: 12rem;
    height: 8rem;
}

.close-btn{
    width: max-content;
    height: max-content;
    padding: 6px;
    align-self: flex-end;
    line-height: 15px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}

.forms{
    width: 100%;
    height: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2{
        color: green;
        text-transform: uppercase;
        text-align: center;
        font-weight: 600;
    }
}

.form-element{
    width: 100%;
}

.form-element label{
    font-size: 16px;
    font-weight: 600;
}

.form-element input{
    margin-top: 1rem;
    display: block;
    width: 100%;
    padding: 10px;
    outline: none;
    border-radius: 5px;
}

.book{
    width: 100%;
    border: 1px solid;
    margin-top: 2rem;
    background: rgb(220, 233, 224);
    border-radius: 50px;
    padding:7px 16px;
    font-weight: 600;
}




/* Media queries for mobile screens */

@media  (max-width: 540px) {
    .navbar{
        padding-left: 0;
        width: 100%;
        margin: 0;

    }

    .navbar-collapse{
        display: flex;
        width: 100% !important;
        margin: 0;
        padding: 1rem;
        background-color: beige !important;
        flex-direction: column;
        align-items: flex-start;
    }

    .button{
        display: flex;
        align-self: center;
    }

    .button button{
        margin: 0;
        background-color: yellowgreen;
    }

    .home-text p{
        font-size: 20px;
    }

    .team-con{
        grid-template-columns: repeat(1,1fr) !important;
    }

    .us-card{
        grid-template-columns: repeat(1,1fr);
        grid-gap: 4rem !important;
    }

    .icons i:hover{
        scale: none !important;
    }
    
    .forms-img{
        display: none;
    }
    
}


/* Media queries for medium/Tablet Screen */

@media  (max-width: 940px) {
    .navbar{
        padding-left: 0;
    }

    .navbar-collapse{
        display: flex;
        width: 100% !important;
        margin: 0;
        padding: 1rem;
        background-color: beige !important;
        flex-direction: column;
        align-items: flex-start;
    }

    .button{
        display: flex;
        align-self: flex-end;
    }

    .button button{
        background-color: yellowgreen;
    }

    .team-con{
        grid-template-columns: repeat(2,1fr);
    }

    .card-group{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 4rem;
    }

    .us-card{
        grid-gap: 2rem;
    }

    .icons i:hover{
        scale: none !important;
    }

    .forms-img{
        display: none;
    }
}


